 // Import all of Bootstrap's CSS
@use "bootstrap/scss/bootstrap";

section{
    width: 100vw;
    height: 100vh;
  }

  nav{
    background-color: aliceblue;
    padding: 20px;
    box-shadow: inset;
    display: flex;
    justify-content: center;
    gap: 18px;
  }